body {
  padding: 15px;
  font: 14px "Verdana";
  background-color: #dc8;
}
.header {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font: 16px "Verdana";
  text-align: center;
}
#navContainer {
  width: 400px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7em;
  border: 1px solid #333;
}
#navContainer ul {
  margin: 0;
}
#navContainer li {
  list-style-type: none;
  font: 200 1em "Verdana";
  border-bottom: 1px solid #ccc;
  margin-left: 2.5em;
  padding: 1em;
}
#navContainer li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
#navContainer li a:hover {
  font-size: 1.2em;
}
#navContainer li:last-child {
  border: none;
}
h2 {
  font: 200 1.5em "Verdana";
  margin: 0;
  padding: 0.4em;
}
