footer
      div.modal.fade(id = "about", role = "dialog")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h4 Raspberry Pi Cloud Tool
                div.modal-body
                    p For more info visit 
                        a(href="http://raspberrypicloud.wordpress.com/") http://raspberrypicloud.wordpress.com/  
                div.modal-footer
                    a(data-dismiss="modal").btn.btn-primary Close
  
