extends layout

block content
  div#header.header
    h1 #{title}
    p About this
  
  nav#navContainer
    div.listContainer
      h2 Available Algorithms:
      ul
        li 
          a(href="/merge_sort/input").navItem Merge Sort

