extends layout

block content
    body
        div.navbar.navbar-default.navbar-static-top
            div.container
                a(href='/').navbar-brand Raspberry Pi Cloud Tool
                
                button(data-toggle = "collapse", data-target = ".navHeaderCollapse").navbar-toggle 
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                
                div.collapse.navbar-collapse.navHeaderCollapse
                    ul.nav.navbar-nav.navbar-right
                        li.active 
                            a(href="/") Home
                        li
                            a(href="/merge_sort/input") Input
                        li
                            a(href="/merge_sort/history") History
                        li
                            a(href="#about", data-toggle="modal") About
                            
        div.container
            div.jumbotron
                h1 Raspberry Pi Cloud Educational Tool  
                p Helping to develop your understanding of the raspberry pi cloud
                p
                    a(href = "#about", data-toggle="modal").btn.btn-primary.btn-large Learn more
                    
            div.row
                div.col-lg-6
                    div.panel.panel-default
                        div.panel-heading Available Algorithms
                        div.panel-body
                            h2
                                a(href="/merge_sort/input") Mergesort
                div.col-lg-6
                    div.panel.panel-default
                        div.panel-heading History
                        div.panel-body
                            h2
                                a#1
                            h2
                                a#2
                            h2
                                a#3
                            h2
                                a#4
                            h2
                                a#5
                                
      script(type="text/javascript")
        function display(){
            var tasks = "!{tList}".split(",");
            for (var i =  5 ; i < 10 ; ++i){
                var list = document.getElementById(i-4);
                var link = document.createElement('a');
                link.href = "/merge_sort/visualisation/" + tasks[i];
                link.innerHTML = tasks[i];
                list.appendChild(link);
                console.log("Added " + tasks[i]);
            }
        }
      
        display();