doctype 5
html
  head
    title= title
    link(rel='stylesheet', href= stylesheetRef)

    -each script in globalScripts
      script(type="text/javascript", src=script);
  body
    div#base
      div#header #{title}

      div#top
        ul
          li 
            a(href="/merge_sort/input") Input
          li 
            a(href="/merge_sort/visualisation") Visualisation
          
      div#center
        block content
     
      div#footer My Footer

