extends layout

block content
    h1#headerTwo Input Page ( input = [#{gList}] )
   
    script
      var socket = io.connect("http://localhost");

    form(name="inputForm", method="post").configForm
      div
        label(for="inputText") Please input the values you wish to be entered to the input list (separated by a space).
        input(type=number, name="updatedList")
      div
        input(type="submit", name="submitButton")#newListSubmitButton 

