extends layout

block content
    h1 Configuration Page
    
    script(type="text/javascript") 
      // not working
      if (configured) {
        alert("Successfully configured!")
      }
    
    form(name="configuration", method="post").configForm
      div
        label(for="clusterSize") How many pi's should be used in the cluster?
        input(type="text", name="clusterSize") 
      div
        label(for="listSize") What size should the list be?
        input(type="text", name="listSize")
      div
        input(type="submit", value="Finished")#submitButton

