extends layout

block content
    body
            div.navbar.navbar-default.navbar-static-top
                div.container
                    a(href='/').navbar-brand Raspberry Pi Cloud Tool

                    button(data-toggle = "collapse", data-target = ".navHeaderCollapse").navbar-toggle 
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    div.collapse.navbar-collapse.navHeaderCollapse
                        ul.nav.navbar-nav.navbar-right
                            li 
                                a(href="/") Home
                            li.active
                                a(href="/merge_sort/input") Input
                            li
                                a(href="/merge_sort/history") History
                            li
                                a(href="#about", data-toggle="modal") About

            div.container
                div.row
                    div(id="input").panel.panel-default
                        div.panel-heading Input Page
                        div.panel-body
                            h1 Current input: [#{gList}]
                            form(name="inputForm", method="post")
                                div
                                    label(for="inputText") Please input the values you wish to be entered to the input list (separated by a space)
                                div
                                    textarea(type=number, name="updatedList", value="12 3 45")
                                div
                                    button(type="submit", name="randomListButton").btn.btn-default Create Random List
                                    button(type="submit", name="submitButton").btn.btn-default Execute Merge Sort
                                    
